body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none !important;
}

.font-mediumlittle{
    font-size:1.4rem !important;
}

.font-medium{
    font-size:1.5rem;
}

.font-big{
    font-size:1.8rem;
}

.nav-link, footer p, h3{
    font-weight: bold;
    color: white;
}

h3{
    color:black;
    letter-spacing: 2px;
}

.nav-link:hover, .fa-times{
    color: rgb(103,99,214);
}

.fa-times:hover{
    color:black;
}

.color-purple{
    color:  rgb(103,99,214);
}

.description{
    font-size: 0.6em;
    line-height: 1;
}

footer, header {
    background-color: black;
}

nav button {
    border-color: black;
}

#footer-info{
    font-size: 0.7rem;
}

button {
    border: 1px solid rgb(223,223,223);
    border-radius: 7px;
}

article > header > div > img{
    max-height: 200px;
}

.btn {
    background-color: rgb(103,99,214) !important;
    color: white !important;
}

aside > section > ul > li > img{
    width: 50px;
    float: left;
    margin-right: 5px;
}

button p {
    letter-spacing: 0.2rem;
}

.btn-gestore{
    background-color: white !important;
    border-color: rgb(223,223,223) !important;
    color:black !important;
}

.btn-gestore:hover{
    border: 1px solid white !important;
    background-color: rgb(103,99,214) !important;
    color: white !important;
}

.chart-progress{
    color:rgb(189, 189, 189);
}

a .chart-progress:hover{
    color:rgb(103,99,214);
}

a .chart-progress-selected:hover{
    color:black;
}

.chart-progress-selected{
    color:rgb(103,99,214);
}

hr{
    border: solid 3px rgb(200, 200, 200);
    margin : 2% 0;
}

#chart{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

#card-selector img{
    width:22%;
    height: 40%;
    margin-top: 18%;
    padding: 2%;
    border: solid 0.1rem rgb(189, 189, 189);
    border-radius: 0.5rem;
}

#card-selector img.selected{
    border: solid 0.1rem rgb(103,99,214);
}

#card-selector img:hover{
    border: solid 0.1rem rgb(103,99,214);
    cursor:pointer;
}

.roundend-corners{
    border-radius: 20px;
}

.event-info p{
    letter-spacing:0.1rem;
    margin-bottom: 0;
}

.mt-10,
.my-10 {
  margin-top: 10rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 10rem !important;
}

.mb-10,
.my-10 {
  margin-bottom: 10rem !important;
}

.ml-10,
.mx-10 {
  margin-left: 10rem !important;
}

@media screen and (min-width: 768px) {
    #chart{
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }
}