.nav-link, footer p, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: white;
} 

h3 {
    color:black;
    letter-spacing: 2px;
}

.color-purple{
    color:  rgb(103,99,214);
}

.nav-link:hover{
    color: rgb(103,99,214);
}

.description{
    font-size: 0.6em;
    line-height: 1;
}


footer, header {
    background-color: black;
}

nav button {
    border-color: black;
}

#footer-info{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border: 1px solid rgb(223,223,223);
    border-radius: 7px;
}

article > header > div > img{
    max-height: 200px;
}

.btn {
    background-color: rgb(103,99,214);
    color: white;
}

aside > section > ul > li > img{
    width: 50px;
    float: left;
    margin-right: 5px;
}

button p {
    letter-spacing: 1px;
}

.btn-gestore{
    background-color: white !important;
    border-color: rgb(223,223,223) !important;
    color:black !important;
}

.btn-gestore:hover{
    border: 1px solid white !important;
    background-color: rgb(103,99,214) !important;
    color: white !important;
}

.chart-progress{
    color:rgb(189, 189, 189);
}

p.selected{
    color:black;
}

.chart-progress-selected{
    color:rgb(103,99,214);
}


.mt-10,
.my-10 {
  margin-top: 10rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 10rem !important;
}

.mb-10,
.my-10 {
  margin-bottom: 10rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 10rem !important;
}
